{% extends 'base.html' %}

{% block title %} About {% endblock title %}

{% block head %}
    <style>
        body {
            color: white;
            background: url(https://cdn.pixabay.com/photo/2015/01/08/18/25/desk-593327_1280.jpg) center center fixed no-repeat;
            background-size: cover;
        }

        #home_container {
            padding: 8rem 0rem;
        }
    </style>
{% endblock head %}

{% block body %}
<div class="container" id="home_container">
    <h1 class="text-center">
        I am seeking a challenging position in a reputed organization where I can learn new skills, expand my knowledge, and leverage my learning. To get an opportunity where I can make the best of my potential and contribute to the organization’s growth.
    </h1>
</div>
{% endblock body %}