{% extends 'base.html' %}

{% block title %} Contact {% endblock title %}

{% block head %}
    <style>
        body {
            color: white;
            background: url(https://cdn.pixabay.com/photo/2015/01/08/18/25/desk-593327_1280.jpg) center center fixed no-repeat;
            background-size: cover;
        }

        #home_container {
            padding: 8rem 0rem;
        }
    </style>
{% endblock head %}

{% block body %}
<div class="container" id="home_container">
    <h1 class="text-center">Email me at junaid1607@outlook.com</h1>
</div>
{% endblock body %}